<template>
	<div class="flex p-8 gap-4 justify-center items-center">
		<h1>Secret admin Page</h1>
	</div>
</template>

<script setup>
	const { app } = useMyRealmApp();

	const logout = () => {
		app.currentUser.logOut();
		navigateTo("/");
	};

	const readData = () => {
		const mongo = app.currentUser.mongoClient("mongodb-atlas");
		const collection = mongo.db("db1").collection("employee");

		collection
			.find({ id: 1232 })
			.then((data) => {
				console.log(data);
			})
			.catch((err) => {
				console.log(err);
			});
	};

	const addData = () => {
		const mongo = app.currentUser.mongoClient("mongodb-atlas");
		const collection = mongo.db("db1").collection("employee");

		collection
			.insertOne({
				name: "lily of the valley",
				sunlight: "full",
				color: "white",
				type: "perennial",
				_partition: "Store 47",
				user_id: app.currentUser.id,
			})
			.then((data) => {
				console.log(data);
			})
			.catch((err) => {
				console.log(err);
			});
	};

	const updateData = () => {
		const mongo = app.currentUser.mongoClient("mongodb-atlas");
		const collection = mongo.db("db1").collection("employee");

		collection
			.updateOne(
				{ sunlight: "partial" },
				{ $set: { sunlight: "full", test: "test" } }
			)
			.then((data) => {
				console.log(data);
			})
			.catch((err) => {
				console.log(err);
			});
	};

	const deleteData = () => {
		const mongo = app.currentUser.mongoClient("mongodb-atlas");
		const collection = mongo.db("db1").collection("employee");

		collection
			.deleteOne({ sunlight: "full" })
			.then((data) => {
				console.log(data);
			})
			.catch((err) => {
				console.log(err);
			});
	};
</script>
