<template>
	<section class="bg-gray-50 dark:bg-gray-900">
		<div
			class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
			<div
				class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
				<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
					<h1
						class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
						Login
					</h1>
					<div class="flex flex-col gap-8">
						<div class="flex flex-col gap-4">
							<div>
								<label
									for="email"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Your email</label
								>
								<input
									v-model="email"
									type="email"
									name="email"
									id="email"
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									placeholder="name@company.com"
									required="" />
							</div>
							<div>
								<label
									for="password"
									class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									>Password</label
								>
								<input
									v-model="password"
									type="password"
									name="password"
									id="password"
									placeholder="••••••••"
									class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
									required="" />
							</div>
						</div>
						<p v-if="errorMsg" class="text-red-500">{{ errorMsg }}</p>

						<button
							@click="login()"
							type="submit"
							class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
							Login
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script setup>
	// import { useMyRealmApp } from "~~/composables/useRealm";
	const { app, Realm } = useMyRealmApp();
	const email = ref(null);
	const password = ref(null);
	const errorMsg = ref(null);

	onMounted(() => {
		console.log(app.currentUser);
	});

	const login = async () => {
		// @TODO: check if email and pass are not null
		const credentials = Realm.Credentials.emailPassword(
			email.value,
			password.value
		);

		app
			.logIn(credentials)
			.then((user) => {
				app.currentUser.callFunction("isAdmin").then((result) => {
					if (result === true) navigateTo("/admin");
					else navigateTo("/secret");
				});
				// console.log(user.customData);
			})
			.catch((error) => {
				errorMsg.value = error.error;
			});
		// console.assert(user.id === app.currentUser.id);
	};
</script>

<style scoped></style>
